* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,p {
	margin: 0;
}

ul>li {
	list-style-type: none;
}

h1,h2 {
	font-weight: 700;
}

h2 {
	font-size: 3rem;
}

body {
	font-family: 'Nunito', sans-serif;
}

.float-dx > * {
	float: right;
}

.container-fluid {
	padding: 0;
}

.section__header {
	text-align: center;
	margin: 60px 0 30px;
}

.dot {
	display: inline-block;
	margin-right: 2px;
	height: 12px;
	width: 12px;
	border: 2px #0065FC solid;
	border-radius: 50%;
}

.dot--selected {
	background-color: #0065FC
}


/*----------------*/
/* # # NAVBAR # # */
/*----------------*/
.navbar * {
	display: inline-block;
	color: #091F4E;
	font-weight: 600;
}

.top-navbar,
.bottom-navbar {
	padding: 5px 10px;
	width: 100%;
	height: 50px;
}

.top-navbar__left,
.top-navbar__right,
.bottom-navbar__left {
	padding: 10px 0;
	overflow: visible;
}

.bottom-navbar__right {
	padding: 4px 0;
}

.navbar li {
	padding-right: 8px;
}

.navbar a:hover {
	color: #0065FC;
	text-decoration: none;
}

#new-logo {
	margin-top: -2px;		/*eh lo so oh..*/
	padding-right: 5px;
}

#navbar-logo {
	margin-top: -3px;		/*eh lo so oh..*/
	padding-right: 10px;
}

#navbar__signup-button {
	color: #0065FC;
	font-weight: 700;
	border: 1px #0065FC solid;
}

#navbar__signup-button:hover {
	color: #FFF;
	background-color: #0065FC;
}





/*-------------------*/
/* # # JUMBOTRON # # */
/*-------------------*/
.jumbotron {
	background-image: url("../Resources/images/jumbotron-bg.jpg");
	background-position: center;
	background-size: cover;
	border-radius: 0 !important;
	color: #FFF;
}

.jumbotron__left-section {
	margin: 70px 10px;
}

.jumbotron__left-section h1 {
	font-size: 56px;
}

.jumbotron__left-section p {
	margin-top: 20px;
	line-height: 32px;
}

.jumbotron__right-section {
	width: 300px;
	margin: 50px auto;
	padding: 20px;
	text-align: center;
	color: #000;
	background-color: white;
}

.jumbotron__right-section h2 {
	font-size: 25px;
	margin-bottom: 20px;
}

.jumbotron__right-section p {
	margin-top: 20px;
	font-size: 12px;
}

.jumbotron__right-section__button {
	width: 250px;
	padding: 7px;
	margin-top: 13px;
}

#google-logo {
	margin: -2px 5px 0 0;
}
/*tolgo bordo alle caselle di inserimento dati del form*/
.form-control {
	border: 0;
    box-shadow: none;
}





/*------------------------*/
/* # # PARTNER BRIDGE # # */
/*------------------------*/
.partner-bridge {
	text-align: center;
}

.partner-bridge h5 {
	text-transform: uppercase;
	color: darkgrey;
	font-weight: 600;
}

.partner-bridge__icon-container img {
	height: 30px;
	margin: 20px;
}

.partner-bridge a {
	display: inline-block;
	margin: 10px;
}

/*sposto un po' su certi loghi dai 20px di partenza per centrarli meglio*/
#docker-logo {
	margin-top: 12px;
}

#wework-logo {
	margin-top: 8px;
}





/*--------------------------*/
/* # # FEATURES SECTION # # */
/*--------------------------*/
/* features-section
	  row
		features-section__header
	  row
		features-section__leftmenu
		features-section__rightcontent
		  features-section__rightcontent__container
*/

.features-section__leftmenu {
	height: 400px;		/*da md in giù dovrà ridursi*/
	padding: 30px 100px;
}

.features-section__leftmenu li {
	padding: 12px 20px;
}

.features-section__leftmenu li a {
	color: #000;
}

.features-section__leftmenu li:hover {
	font-weight: 700;
	border-left: 2.5px solid blue;
}

.features-section__leftmenu li:hover a {
	text-decoration: none;
}

.features-section__rightcontent {
	padding-bottom: 60px;
}

.features-section__rightcontent__blueicon {
	height: 2.3rem;
	margin: -4px 1px 0 0;
}

.features-section__rightcontent__container {
	padding: 15px 30px;
}


@media (max-width: 1200px) { 

	.features-section__leftmenu {
		height: 38px;
		padding: 0;
		text-align: center;
	}

	.features-section__leftmenu li {
		display: inline-block;
	}

	.features-section__leftmenu li:hover {
		border-left: 0;
		border-bottom: 2.5px solid blue;
	}

 }





/*---------------------------*/
/* # # SLIDESHOW SECTION # # */
/*---------------------------*/
/* slideshow-section
	  row
		slideshow-section__header
	  row
		slideshow-section__slideshow
*/
.slideshow-section__slideshow {
	text-align: center;
	padding-bottom: 60px;
}
#slideshow-section__slideshow__image {
	max-width: 600px;
	margin: 20px 0;
}